<h1>List of Kitten</h1>
<%= link_to 'New Kitten', new_kitten_path %>
<% @kittens.reverse.each do |kit| %>
  <h2>Name: <%= link_to kit.name, kit %></h2>
  <p>Age: <%= kit.age %></p>
  <p>Cuteness: <%= kit.cuteness %></p>
  <p>Softness: <%= kit.softness %> </p>
<% end %>
