<h1><%= @kitten.name %></h1>
<p>This cat is <%= @kitten.age %> years old. It's cutness is: <%= @kitten.cuteness %> and the softness is: <%= @kitten.softness %></p>
<%= link_to 'Main page', root_path %>
<%= link_to 'Edit', edit_kitten_path %>
<%= link_to 'Delete', kitten_path, data: { turbo_method: :delete } %>